::-webkit-scrollbar {
	background: white;
	width: 8px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
    background: black;
}
::selection {
	background: black;
	color: white;
}
@font-face {
	font-family: "fontum";
	src: url("src/assets/trebuc.ttf");
}
@keyframes yukas {
		0%, 100% { transform: translateY(0); }
		50% { transform: translateY(-10px); }
}
body {
	-webkit-tap-highlight-color: transparent;
	font-family: "fontum";
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* DESKTOP */
@media screen and (min-width: 980px) {
html {
    scroll-padding-top: 80px;
		scroll-behavior: smooth;
}
#goster {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 4;
}
#resim {
	max-width: 75%;
	max-height: 75vh;
}
#main {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  height: 85px;
  background-color: black;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 5px 25px black;
	z-index: 3;
}
#main-div {
	display: flex;
	align-items: center;
	width: 90%;
	margin-top: 5px;
}
#logo-div {
	display: flex;
	width: 50px;
}
#logo {
	width: 100%;
	cursor: pointer;
}
#logo:hover {
	transform: scale(1.1);
}
#isim-div {
	display: flex;
	flex: 1;
	align-items: center;
	margin-left: 20px;
	height: 25px;
}
#isim {
	color: white;
	font-size: 22px;
	cursor: pointer;
	text-shadow: 5px -2px 10px white;
	transition: all 0.5s ease;
}
#isim:hover {
	text-shadow: none;
	transform: scale(1.1);
}
#sayfalar {
	display: flex;
	align-items: center;
	height: 22px;
}
#about {
	color: white;
	font-size: 19px;
	cursor: pointer;
	transition: all 0.5s ease;
}
#about:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#contact {
	color: white;
	font-size: 19px;
	cursor: pointer;
	margin-left: 70px;
	transition: all 0.5s ease;
}
#contact:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#katalog {
	color: white;
	font-size: 19px;
	cursor: pointer;
	margin-left: 70px;
	margin-right: 70px;
	transition: all 0.5s ease;
}
#katalog:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#menu-div {
	display: none;
}
#liste-div {
	display: none;
}
#liste {
	display: none;
}
#ana {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 85px;
}
#taslak {
	width: 100%;
}
#about-div {
	display: block;
	padding: 15px;
	max-width: 100%;
	background-color: #767C87;
}
#about-img {
	float: left;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	display: flex;
	width: 255px;
  height: 305px;
	margin-top: 15px;
	margin-left: 80px;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(5px 15px 8px black);
	animation: yukas 4s ease-in-out infinite;
}
#kasa {
	width: 250px;
}
#about-p {
	display: block;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 35px;
}
#about-parag {
	font-size: 22px;
}
#contact-div {
	display: block;
	max-width: 100%;
	padding: 15px;
	background: linear-gradient(to bottom, #EAC166 90%, white 100%);
}
#contact-img {
	float: right;
	display: flex;
	padding-left: 15px;
	padding-right: 25px;
	width: 605px;
  height: 330px;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(5px 15px 8px black);
	animation: yukas 4s ease-in-out infinite;
}
#banko {
	width: 600px;
}
#contact-p {
	display: block;
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 80px;
}
#contact-text {
	font-size: 30px;
	color: #5D4324;
}
#contact-tele {
	border: 2px solid black;
	min-width: 300px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}
#contact-tele:hover {
	background-color: #E0B351;
	transform: translateY(-3px);
}
#telefon {
	width: 40px;
	margin-right: 15px;
}
#contact-tele:hover #telefon {
	transform: scale(1.1) rotate(-20deg);
}
#contact-parag {
	font-size: 25px;
	cursor: text;
}
#adres {
	width: 35px;
}
#harita {
	width: 100%;
	min-height: 450px;
	border: 0px;
	filter: grayscale(100%) invert(92%) contrast(83%);
}
#katalog-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	background-color: white;
	padding: 45px;
	gap: 30px;
}
.katalog-data {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: #DDE0E5;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 5px 8px black, inset 0px 0px 8px rgba(0, 0, 0, 0.7);
	aspect-ratio: 1;
	transition: transform 0.5s ease;
}
.katalog-data:hover {
	transform: translateY(-10px);
	filter: brightness(1.05);
	box-shadow: 0px 8px 8px black, inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.tip {
	position: absolute;
	top: 15px;
	right: 17px;
	max-width: 230px;
  background: rgba(0, 0, 0, 0.7);
	color: white;
  padding: 5px 10px;
	border: 2px solid white;
  border-radius: 20px;
  font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;
}
.data {
	max-width: 100%;
	max-height: 100%;
	transition: all 0.5s ease;
}
.katalog-data:hover .data {
	transform: scale(1.03);
}

}
/* TABLET */
@media screen and  (max-width: 980px) and (min-width: 540px) {
html {
    scroll-padding-top: 50px;
		scroll-behavior: smooth;
}
#goster {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 4;
}
#resim {
	max-width: 75%;
	max-height: 75vh;
}
#main {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  height: 53px;
  background-color: black;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 15px black;
	z-index: 3;
}
#main-div {
	display: flex;
	align-items: center;
	width: 90%;
}
#logo-div {
	display: flex;
	width: 30px;
}
#logo {
	width: 100%;
	cursor: pointer;
}
#isim-div {
	display: flex;
	flex: 1;
	align-items: center;
	margin-left: 15px;
	height: 25px;
}
#isim {
	color: white;
	font-size: 22px;
	cursor: pointer;
	text-shadow: 5px -2px 10px white;
}
#isim:hover {
	text-shadow: none;
}
#sayfalar {
	display: none;
}
#menu-div {
	display: flex;
	width: 30px;
	cursor: pointer;
}
#menu {
	width: 100%;
}
#menu:hover {
	transform: scale(1.1);
}
#liste-div {
	display: flex;
	position: fixed;
	top: 0px;
	left: -270px;
	width: 240px;
  height: 100vh;
  background-color: black;
	box-shadow: 5px 0px 25px black;
	z-index: 2;
	transition: all 1s ease;
}
#liste {
	width: 100%;
	font-size: 19px;
	text-align: center;
}
#about-liste {
	display: block;
	color: white;
	cursor: pointer;
	margin-top: 80px;
	transition: all 0.3s ease;
}
#about-liste:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#contact-liste {
	display: block;
	color: white;
	cursor: pointer;
	margin-top: 40px;
	transition: all 0.3s ease;
}
#contact-liste:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#katalog-liste {
	display: block;
	color: white;
	cursor: pointer;
	margin-top: 40px;
	transition: all 0.3s ease;
}
#katalog-liste:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#ana {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 53px;
}
#taslak {
	width: 100%;
}
#about-div {
	display: block;
	padding: 15px;
	max-width: 100%;
	background-color: #767C87;
}
#about-img {
	float: left;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 5px;
	display: flex;
	width: 205px;
  height: 255px;
	margin-left: 10px;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(4px 8px 6px black);
	animation: yukas 4s ease-in-out infinite;
}
#kasa {
	width: 200px;
}
#about-p {
	display: block;
	margin-left: 35px;
	margin-right: 35px;
}
#about-parag {
	font-size: 19px;
}
#contact-div {
	display: block;
	max-width: 100%;
	padding: 15px;
	background: linear-gradient(to bottom, #EAC166 90%, white 100%);
	text-align: center;
}
#contact-img {
	display: block;
	width: 100%;
	margin-top: 15px;
	filter: drop-shadow(4px 8px 6px black);
	animation: yukas 4s ease-in-out infinite;
}
#banko {
	width: 80%;
}
#contact-p {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 60px;
}
#contact-text {
	width: 100%;
	font-size: 25px;
	color: #5D4324;
}
#contact-tele {
	border: 2px solid black;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}
#contact-tele:hover {
	background-color: #E0B351;
	transform: translateY(-3px);
}
#telefon {
	width: 30px;
	margin-right: 10px;
}
#contact-tele:hover #telefon {
	transform: scale(1.1) rotate(-20deg);
}
#contact-parag {
	font-size: 20px;
	cursor: text;
}
#adres {
	width: 35px;
}
#harita {
	width: 100%;
	min-height: 400px;
	border: 0px;
	filter: grayscale(100%) invert(92%) contrast(83%);
}
#katalog-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	background-color: white;
	padding: 35px;
	gap: 20px;
}
.katalog-data {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: #DDE0E5;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 5px 8px black, inset 0px 0px 7px rgba(0, 0, 0, 0.7);
	aspect-ratio: 1;
	transition: transform 0.5s ease;
}
.katalog-data:hover {
	transform: translateY(-8px);
	filter: brightness(1.05);
	box-shadow: 0px 8px 8px black, inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.tip {
	position: absolute;
	top: 15px;
	right: 17px;
	max-width: 180px;
  background: rgba(0, 0, 0, 0.7);
	color: white;
  padding: 5px 10px;
	border: 2px solid white;
  border-radius: 20px;
  font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;
}
.data {
	max-width: 100%;
	max-height: 100%;
	transition: all 0.5s ease;
}
.katalog-data:hover .data {
	transform: scale(1.03);
}

}
/* MOBILE */
@media screen and (max-width: 540px) {
html {
    scroll-padding-top: 40px;
		scroll-behavior: smooth;
}
#goster {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 4;
}
#resim {
	max-width: 75%;
	max-height: 75vh;
}
#main {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  height: 43px;
  background-color: black;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 15px black;
	z-index: 3;
}
#main-div {
	display: flex;
	align-items: center;
	width: 90%;
}
#logo-div {
	display: flex;
	width: 20px;
}
#logo {
	width: 100%;
	cursor: pointer;
}
#isim-div {
	display: flex;
	flex: 1;
	align-items: center;
	margin-left: 15px;
	height: 22px;
}
#isim {
	color: white;
	font-size: 19px;
	cursor: pointer;
	text-shadow: 5px -2px 10px white;
}
#isim:hover {
	text-shadow: none;
}
#sayfalar {
	display: none;
}
#menu-div {
	display: flex;
	width: 25px;
	cursor: pointer;
}
#menu {
	width: 100%;
}
#menu:hover {
	transform: scale(1.1);
}
#liste-div {
	display: flex;
	position: fixed;
	top: 0px;
	left: -270px;
	width: 240px;
  height: 100vh;
  background-color: black;
	box-shadow: 5px 0px 25px black;
	z-index: 2;
	transition: all 1s ease;
}
#liste {
	width: 100%;
	font-size: 19px;
	text-align: center;
}
#about-liste {
	display: block;
	color: white;
	cursor: pointer;
	margin-top: 80px;
	margin-left: -55px;
	transition: all 0.3s ease;
}
#about-liste:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#contact-liste {
	display: block;
	color: white;
	cursor: pointer;
	margin-top: 40px;
	margin-left: -55px;
	transition: all 0.3s ease;
}
#contact-liste:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#katalog-liste {
	display: block;
	color: white;
	cursor: pointer;
	margin-top: 40px;
	margin-left: -55px;
	transition: all 0.3s ease;
}
#katalog-liste:hover {
	text-shadow: 2px 2px 10px white;
	transform: scale(1.2);
}
#ana {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 47px;
}
#taslak {
	width: 100%;
}
#about-div {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
	background-color: #767C87;
}
#about-img {
	display: flex;
	width: 155px;
  height: 185px;
	margin-top: 25px;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(3px 8px 6px black);
	animation: yukas 4s ease-in-out infinite;
}
#kasa {
	width: 150px;
}
#about-p {
	display: flex;
	margin-left: 25px;
	margin-right: 10px;
}
#about-parag {
	font-size: 15px;
}
#contact-div {
	display: block;
	max-width: 100%;
	padding: 15px;
	background: linear-gradient(to bottom, #EAC166 95%, white 100%);
	text-align: center;
}
#contact-img {
	display: block;
	width: 100%;
	margin-top: 5px;
	filter: drop-shadow(3px 8px 6px black);
	animation: yukas 4s ease-in-out infinite;
}
#banko {
	width: 80%;
}
#contact-p {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
}
#contact-text {
	width: 100%;
	font-size: 15px;
	color: #5D4324;
}
#contact-tele {
	border: 2px solid black;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}
#contact-tele:hover {
	background-color: #E0B351;
	transform: translateY(-3px);
}
#telefon {
	width: 17px;
	margin-right: 7px;
}
#contact-tele:hover #telefon {
	transform: scale(1.2) rotate(-20deg);
}
#contact-parag {
	font-size: 15px;
	cursor: text;
}
#adres {
	width: 20px;
}
#harita {
	width: 100%;
	min-height: 180px;
	border: 0px;
	filter: grayscale(100%) invert(92%) contrast(83%);
}
#katalog-div {
  display: grid;
  grid-template-columns: 1fr;
	background-color: white;
	padding: 30px;
	gap: 15px;
}
.katalog-data {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: #DDE0E5;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 5px 8px black, inset 0px 0px 6px rgba(0, 0, 0, 0.7);
	aspect-ratio: 1;
	transition: transform 0.5s ease;
}
.katalog-data:hover {
	transform: translateY(-5px);
	filter: brightness(1.05);
	box-shadow: 0px 8px 8px black, inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.tip {
	position: absolute;
	top: 15px;
	right: 17px;
	max-width: 140px;
  background: rgba(0, 0, 0, 0.7);
	color: white;
  padding: 5px 10px;
	border: 2px solid white;
  border-radius: 20px;
  font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;
}
.data {
	max-width: 100%;
	max-height: 100%;
	transition: all 0.5s ease;
}
.katalog-data:hover .data {
	transform: scale(1.03);
}

}
